body{

	margin:0;
	padding:0;

	background-color: #fafafa;

	font-family: 'Raleway';


}

main{

	width:90%;
	margin:25px auto;
	
	padding:5px;



	text-align: center;



}

form{

	width: 50%;
	margin:10px auto;
	
	text-align: center;


	


}

input{

	width:50%;
	height: 25px;
	
	margin:10px auto;
	
	padding-left: 5px;


	border:1px solid #bbb;
	border-radius: 5px;
	outline: none;

	font-family: 'Raleway';
	
}


input:hover{

	transition: border-color 0.5s linear;


	border-color:rgb(113,125,128);

}


a{

	display: block;
	
	text-decoration: none;
	color:black;

	
	width: 100px;
	margin:0 auto;
	

}


.btn-search{

	width: 100px;
	height: 30px;

	border:1px solid rgb(119,193,36);
	border-radius: 5px;

	font-family: 'Raleway';
	background-color: #fff;
	color:rgb(119,193,36);


}

.btn-search:hover{

	transition: background-color 0.5s linear;
		
	background-color: rgb(119,193,36);
	
	color:#fff;
	
	box-shadow: 3px 3px 8px #bbb;

	cursor:pointer;


}


.form-edit{

	margin-top: 50px;

	

	width:80%;

	padding:5px;


}

.inpt-edit{

	display: block;
	width:20%;

}

.btn-save{

	width: 100px;
	height: 30px;

	border:1px solid rgb(15,189,240);
	border-radius: 5px;

	font-family: 'Raleway';
	background-color: #fff;
	color: rgb(15,189,240);



}

.btn-save:hover{


	background-color: rgb(15,189,240);
	
	color:#fff;
	
	box-shadow: 3px 3px 8px #bbb;

	cursor:pointer;

	transition: background-color 0.5s linear;

}